%br
%br
.columns.is-centered
  .column.is-4
    .card
      .card-header
        .card-header-title.has-background-warning
          %span.subtitle
            %i.fa.fa-users
            Resend confirmation instructions
      .card-content
        .content

          = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
            = render "devise/shared/error_messages", resource: resource

            .field
              = f.label :email, class: 'label'
              .control
                = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'input'
            .field
              .actions
                = f.submit "Resend confirmation instructions", class: 'button'

            = render "devise/shared/links"
