.profile_wrapper.pb-2
  .user_detail
    .user_image
      = get_avatar(profile)
    .detail_name
      %div.has-text-grey
        #{ profile.name }
      .detail_username
        = link_to '#' do
          #{ profile.username }
  - if current_user != profile
    .detail_user_follow
      .action{data:{social:{id: "#{profile.id}"}}}
        -if user_signed_in?
          - if !current_user.friend_by?(profile.id)
            .btn_solicitar
              %i.fas.fa-user-plus.mr-1
              adicionar
          - else
            .btn_aguardando
              pendente...
