.main_wrapper
  %main
    .panel_tabs
      .tabs.is-boxed
        %ul
          %li.is-active
            %a
              %i.far.fa-newspaper.mr-2
              Posts
          %li
            %a
              %i.far.fa-file-video.mr-2
              Videos
          %li
            %a
              %i.fas.fa-comment.mr-2
              Comentários dos Posts
          %li
            %a
              %i.far.fa-comment.mr-2
              Comentários dos Vídeos
          %li
            %a
              %i.fas.fa-user.mr-2
              Solicitações de Amizade
          %li
            %a
              %i.fas.fa-user-friends.mr-2
              Lista de Amigos

      .tab_content
        .tab_wrapper{style: 'display: block'}
          %table.table.is-striped.is-fullwidth
            %thead
              %tr
                %th #
                %th Post
                %th Description
                %th Comments
                %th status
                %th{width: '5px'}
                %th{width: '5px'}
            %tbody
              - if @posts.any?
                - @posts.each do |post|
                  %tr
                    %td{align: 'right'} #{ post.id }
                    %td= link_to post.title, post
                    %td #{ truncate(strip_tags(post.body.to_s), length: 45) }
                    %td{align: 'center'} #{ post.comments.count }
                    %td #{ post.published }
                    %td
                      = link_to edit_post_path(post), class:'' do
                        %i.fas.fa-edit
                    %td
                      = link_to '#' do
                        %i.fas.fa-trash-alt

        .tab_wrapper
          %table.table.is-striped.is-fullwidth
            %thead
              %tr
                %th #
                %th Videos
                %th Description
                %th Comments
                %th status
                %th{width: '5px', colspan: '2'}
            %tbody
              - if @streamings.any?
                - @streamings.each do |streaming|
                  %tr
                    %td{align: 'right'} #{ streaming.id }
                    %td= link_to streaming.title, streaming
                    %td #{ truncate(strip_tags(streaming.description.to_s), length: 45) }
                    %td
                    %td #{ streaming.published }
                    %td
                      = link_to edit_streaming_path(streaming), class:'' do
                        %i.fas.fa-edit
                    %td
                      = link_to '#' do
                        %i.fas.fa-trash-alt

        .tab_wrapper
          %table.table.is-striped.is-fullwidth
            %thead
              %tr
                %th ID
                %th Post
                %th Comentários
            %tbody
              - @posts.each do |post|
                - if post.total_comments?
                  %tr
                    %td #{ post.id }
                    %td #{ post.title }
                    %td
                      %table.table.is-striped.is-fullwidth
                        - post.list_comments_pending.each do |post_comment|
                          %tr{class: "cmtPost-#{post_comment.id}"}
                            %td #{ post_comment.commenter }
                            %td #{ post_comment.published }
                            %td{width: '5px'}
                              .action{data:{post:{comment: "#{update_comment_post(post_comment.id, 'published', 'post')}"}}}
                                .btn_comment_post
                                  %i.fas.fa-lock
                            %td{width: '5px'}
                              %span
                                %i.fas.fa-trash


        .tab_wrapper
          %table.table.is-striped.is-fullwidth
            %thead
              %tr
                %th ID
                %th Video
                %th Comentários
            %tbody
              - @streamings.each do |streaming|
                - if streaming.total_comments?
                  %tr
                    %td #{ streaming.id }
                    %td #{ streaming.title }
                    %td
                      %table.table.is-striped.is-fullwidth
                        - streaming.list_comments_pending.each do |comment|
                          %tr{class: "cmtVideo-#{comment.id}"}
                            %td #{ comment.commenter }
                            %td #{ comment.published }
                            %td{width: '5px'}
                              .action{data:{post:{comment: "#{update_comment_post(comment.id, 'published', 'streaming')}"}}}
                                .btn_comment_post
                                  %i.fas.fa-lock
                            %td{width: '5px'}
                              %span
                                %i.fas.fa-trash

        .tab_wrapper
          %table.table.is-striped.is-fullwidth
            %thead
              %tr
                %th #
                %th Data
                %td Solicitante
                %td Username
                %td
            %tbody
              - list_friends(current_user).each do |friend|
                %tr{class: "social-#{friend.id}"}
                  %td #{ friend.id }
                  %td #{ l friend.created_at ,format: :short }
                  %td #{ friend.requested_by.name }
                  %td #{ friend.requested_by.username }
                  - if friend.status == 'pending'
                    %td
                      .action{data:{social:{id: "#{updated_friend(friend.id, 'accepted')}"}}}
                        .btn_social
                          %i.fas.fa-lock

        .tab_wrapper
          %table.table.is-striped.is-fullwidth
