%nav.navbar.is-dark
  .container
    .navbar-brand
      = link_to posts_path, class: 'navbar-item' do
        = image_tag 'news.png'
        %h1.title.has-text-white.is-5.pl-3 workout-news
      .navbar-burguer.burguer#hover-menu
        %span
        %span
        %span

    .navbar-menu
      .navbar-start
        = link_to posts_path, class: 'navbar-item' do
          %i.far.fa-newspaper.mr-2
          Artigos
        = link_to streamings_path, class: 'navbar-item' do
          %i.far.fa-file-video.mr-2
          Videos
      .navbar-end
        -if user_signed_in? && current_user.kind == 'admin'
          = link_to '#', class: 'navbar-item' do
            .social_count.px-2
              %i.fas.fa-comment
              %span 99
          = link_to '#', class: 'navbar-item' do
            .social_count.px-2
              %i.fas.fa-user
              - if requested_friends(current_user) > 0
                %span= requested_friends(current_user)
          .navbar-item.has-dropdown.is-hoverable.is-flex
            = link_to '#', class: 'navbar-link' do
              .profile
                = get_avatar(current_user)
              = current_user.username
            .navbar-dropdown.is-right
              -if current_user.kind == 'manager'
                = link_to '#', class: 'navbar-item' do
                  %i.fas.fa-user-lock.mr-2
                  Administration
              = link_to adm_profile_path, class: 'navbar-item' do
                %i.fas.fa-list.mr-2
                Profiles
              = link_to new_post_path, class: 'navbar-item' do
                %i.fas.fa-newspaper.mr-2
                Novo Artigo
              = link_to new_streaming_path, class: 'navbar-item' do
                %i.far.fa-file-video.mr-2
                Novo Video
              = link_to edit_profile_path, class: 'navbar-item' do
                %i.fas.fa-user.mr-2
                Editar Cadastro
              .navbar-divider
              = link_to destroy_user_session_path, method: :delete, class: 'navbar-item', data: {confirm: 'Are you sure?'} do
                %i.fas.fa-door-open.mr-2
                Exit

        - elsif user_signed_in?
          .navbar-item.has-dropdown.is-hoverable.is-flex
            = link_to '#', class: 'navbar-link' do
              .profile
                = get_avatar(current_user)
              = current_user.username
            .navbar-dropdown.is-right
              = link_to edit_profile_path, class: 'navbar-item' do
                %i.fas.fa-user.mr-2
                Editar Cadastro
              .navbar-divider
              = link_to destroy_user_session_path, method: :delete, class: 'navbar-item', data: {confirm: 'Are you sure?'} do
                %i.fas.fa-door-open.mr-2
                Exit
        - else
          = link_to new_user_session_path, class: 'navbar-item is-small' do
            %i.fas.fa-sign-in-alt.mr-2
            Entrar
          .navbar-item
            = link_to new_user_registration_path, class: 'button is-info is-small is-rounded' do
              %i.fas.fa-pencil-alt.mr-2
              Cadastre-se
