.content_form.mt-5
  %h2.title.is-3.mb-5.has-text-centered #{ title }
  = form_with(model: streaming, local: true) do |form|

    .field
      = form.label :title, class: 'label'
      .control
        = form.text_field :title, class: 'input'
    .field
      = form.label :description, class: 'label'
      .control
        = form.rich_text_area :description, style: 'min-height: 350px; height: auto'
    .columns
      - if params[:action] == 'edit' && streaming.tumbnail.attached?
        .column.is-2
          .image_edit.has-text-right
            %span
              = image_tag streaming.tumbnail
      .column
        .field
          = form.label :tumbnail, class: 'label'
          .control
            = form.file_field :tumbnail
      .column
        .field
          = form.label :video, class: 'label'
          .control
            = form.file_field :video
    .field
      = form.submit class: 'button is-info'
