.main_wrapper
  %main
    .show_container
      .show_title.mt-4
        %h1.title.is-4.mb-0 #{ @post.title }
        %small.has-text-grey published: #{ l @post.created_at, format: :short }

      .show_description
        .banner_image_show
          #{ get_image(@post) }

        .content_post_show
          %p #{ @post.body }
          .post_author
            %div
              %span criado por
            .author_user
              = render 'shared/user_avatar', user: @post
          %hr
      .post_comments
        %h3.subtitle.is-4 Comentários
        - if user_signed_in?
          = render 'comments/form', commentable: @post

        - else
          %div.comment_alert
            Acesse sua conta e deixe seu comentário!
        %hr
        .comment-list
          = render 'comments/comments', commentable: @post
  %aside
